body {
  background-color: #fce5cd;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

body:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

#birthday {
  position: absolute;
  font-size: 3rem;
  color: #ffc107;
  text-shadow: 2px 2px #f57c00;
  animation: color-change 3s ease-in-out infinite alternate;
  font-family: 'Lucida Console';
  max-width: 100%;
  overflow: auto;
  white-space: nowrap;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  transform-origin: center;
}


.card-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
  perspective: 800px;
}

#name {
  font-size: 2.5rem;
}

@keyframes color-change {
  from {
    color: #ffc107;
  }

  to {
    color: #f57c00;
  }
}

@keyframes fall {
  from {}

  to {
    transform: translateY(100vh);
  }
}

.chacta {
  animation: fall 10s linear forwards;
  top: 0px;
  position: fixed;
  width: 40px;
  height: 40px;
  background-image: url('https://ca.slack-edge.com/T04792R6SQ3-U047N88J3G9-b628ba19f2e0-512');
  z-index: 100;
  border-radius: 20px;
  background-size: contain;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
